.invoice-search{
    position: relative;
    display: flex;
    justify-content: center;
}
  
.invoiceSearch-box{
    border-radius: 35px;
    padding: 10px 15px;
    margin: 15px 0 5px 0;
    width: 500px;
    background-color: rgb(236, 233, 233);
    border: 1px solid;
}

.table-of-invoices{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
}

.invoice-table{
    width: 98%;
    border-collapse: collapse;
}

.invoice-table th, .invoice-table td{
    border-collapse: collapse;
    border: 1.5px solid gray;
    text-align: center;
}

.invoice-table th{
    background-color: #f6bd60;
    padding: 10px 0;
    font-size: 20px;
}

.invoice-table td{
    font-size: 20px;
}

.invoice-table tr:hover{
    background-color: rgb(243, 233, 233);
}

.invoice-table.number-order-col{
    width: 70px;
}

.invoice-table.OrID{
    width: 230px;
}

.invoice-table.username{
    width: 180px;
}

.invoice-table.total{
    width: 180px;
}

.invoice-table.payment-time{
    width: 230px;
}

.invoice-info{
    display: flex;
    margin: 15px 10px 10px 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}

.revenue{
    width: 150px;
    text-align: right;
    border: 1px solid #1C63B7;
    color: #1C63B7;
}

.total-invoice{
    width: 100px;
    text-align: right;
    border: 1px solid #CF2424;
    color: #CF2424;
}

.invoice-info-item label{
    margin: 0 10px;
    font-weight: 700;
}

.shift{
    border-radius: 10px;
    padding: 4%;
    width: 150px;
    text-align: left;
}

.invoice-info-item input{
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid;
}

.invoice-info-item{
    margin: 0 10px;
}

.revenue-label{
    color: #1C63B7;
}

.total-invoice-label{
    color: #CF2424;
}

.invoice-date{
    padding: 4px 5px;
    border: 1px solid;
    border-radius: 5px;
    /* margin: 0 10px; */
}

.invoice-date::-webkit-scrollbar {
    width: 4px;
}

.invoice-date::-webkit-scrollbar-thumb{
    background: #848383;
    border-radius: 80px;
}

.overlayOrderDetail{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popupOrderDetail {
    background: white;
    padding: 0 2% 1% 2%;
    border: none;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 5px 10px 0 rgb(0, 0, 2);
    
  }





