.account-search{
  position: relative;
    display: flex;
    justify-content: center;
}

.accountSearch-box{
    border-radius: 15px;
    padding: 12px 15px;
    margin: 15px 0 5px 0;
    width: 500px;
    background-color: rgb(236, 233, 233);
    /* font-size: 18px; */
}

.account-add{
    display: flex;
    width: 98%;
    justify-content: flex-end;
}

.Add-btn{
    border: none;
    border-radius: 15px;
    padding: 8px 42px;
    font-size: 20px;
    background-color: #f44340;
    color: white;
    cursor:pointer;
    font-weight: 600;
}

.Add-btn:hover{
    background-color: #c90300;
    cursor: pointer;
}

.table{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
}

.account-table{
    width: 98%;
    border-collapse: collapse;
}

th, td{
    border-collapse: collapse;
    border-top: 1px solid gray;
    text-align: center;
}

th{
    background-color: #f6bd60;
    padding: 10px 0;
    font-size: 20px;
}

td{
    font-size: 20px;
}

tr:hover{
    background-color: rgb(243, 233, 233);
}

span{
    margin: 0 5px;
    cursor: pointer;
}

.delete-icon{
    color: #c90300;
}

.action{
    font-size: 30px;
}

.number-order-col{
    width: 70px;
}

.overlayAdd {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popupAdd {
    background: white;
    padding: 0 2% 1% 2%;
    border: none;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 5px 10px 0 rgb(0, 0, 2);
    /* border-radius: 4px; */
    /* width: 20%;
    position: relative;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%; */
  }

  .popup-header{
    display: flex;
    justify-content: center;
  }

  .popup-content{

  }

  .popup-content input{
    width: 100%;
    padding: 2%;
    border-radius: 10px;
    border: 1px solid rgb(115, 115, 115);
    font-size: 20px;
  }

  .popup-content select{
    width: 104%;
    padding: 2%;
    border-radius: 10px;
    border: 1px solid rgb(115, 115, 115);
    font-size: 20px;
  }

  .popup-content label,
  input,
  option {
    padding: 5% 0;
    font-size: 20px;
  }

  .popup-content #role{
    padding: 2%;
    border-radius: 10px;
  }

  .popup-btn{
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 0 0;

  }

  .popup-btn button{
    display: flex;
    margin: 0 8px;
    background-color: #3c78de;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 15px ;
    cursor: pointer;
  }
  
