.login-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Background image */
    background-image: url('../../../public/BG-login.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
  }
  
  .login-box h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-box form {
    display: flex;
    flex-direction: column;
  }
  
  .login-box label {
    margin-bottom: 5px;
  }
  
  .login-box input {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .login-box button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
  }
  